.header {
  padding: 16px 24px;
  height: 72px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header > div {
  display: flex;
  align-items: center;
}

.title {
  flex: 1 0 0;
}

.title h1 {
  margin-left: 16px;
}

.toggle {
  display: flex;
  align-items: center;
}

.toggle img {
  width: 16px;
  height: 16px;
}

@media only screen and (min-width: 37.5em) {
  .header {
    padding: 40px 64px;
    height: 136px;
  }

  .toggle img {
    width: 24px;
    height: 24px;
  }

  .title h1 {
    margin-left: 24px;
  }
}

@media only screen and (min-width: 70em) {
  .header {
    padding: 83px 140px 83px 143px;
    height: 222px;
  }
}
