.header {
  height: 72px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header > div {
  display: flex;
  align-items: center;
}

.title {
  height: 100%;
  flex: 1 0 0;
  display: inline-flex;
  align-items: center;
}

.title > div {
  display: inline-block;
}

.title > h1 {
  margin-left: 16px;
  display: inline;
}

.toggle {
  display: flex;
  align-items: center;
}

.toggle img {
  width: 16px;
  height: 16px;
}

@media only screen and (min-width: 37.5em) {
  .header {
    margin-bottom: 40px;
    height: 3.5rem;
  }

  .toggle img {
    width: 24px;
    height: 24px;
  }

  .title h1 {
    margin-left: 24px;
  }
}

@media only screen and (min-width: 70em) {
  .header {
    margin-bottom: 83px;
  }
}
